@import "../../styles/variables.scss";

.timer-card {
  z-index: 1;
  transform: scale();
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 6px;
  width: 100%;
  max-width: 300px;
  height: 330px;
  box-shadow: 1px 1px rgba(211, 211, 211, 0.5),
    -1px -1px rgba(211, 211, 211, 0.5);
  transition: transform 0.3s;

  &:hover {
    background-color: $hoverd-grey;
    transform: translateY(-5px);

    .inner {
      background-color: $hoverd-grey;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-weight: 600;
  }

  .expand-shrink-button {
    color: black;
    border-radius: 10px;
    padding: 2px;
    &:hover {
      background-color: $dark-grey;
    }
  }

  &__time {
    font-size: 35px;
    font-weight: 600;
  }

  &__controlles {
    display: flex;
    justify-content: center;
  }

  i {
    z-index: 2;
    cursor: pointer;
    color: $main-blue;
    margin: 0 5px;
    :hover {
      opacity: 0.9;
    }
  }
  .play-button {
    font-size: 40px;
  }
  .reset-button {
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.1);
    color: black;

    &:hover {
      background-color: $dark-grey;
    }
  }
}
