@import '../../styles/variables.scss';

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.holiday-table {
  overflow-x: auto;
  width: 90vw;
  max-width: 1200px;
  margin: 2rem auto;
  border-collapse: collapse;
  td,
  th {
    text-align: left;
    padding: 1rem;
  }
  tr:nth-of-type(even) {
    background-color: #005a9e49;
  }

  thead tr {
    background-color: $main-blue;
    color: white;
  }
}
