@import "../../styles/variables.scss";

.table-wrapper {
  overflow-x: auto;
  width: calc(100vw - 15rem);
}

.holiday-table,
.check-points-table {
  overflow-x: auto;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  border-collapse: collapse;
  td,
  th {
    text-align: left;
    padding: 1rem;
  }
  tr:nth-of-type(even) {
    background-color: #005a9e49;
  }

  thead tr {
    background-color: $main-blue;
    color: white;
  }
}

@media only screen and (max-width: 880px) {
  .table-wrapper {
    width: calc(100vw - 4rem);
  }
}

@media only screen and (max-width: 400px) {
  .table-wrapper {
    width: 100%
  }
}