@import "../../styles/variables.scss";
.timers-page {
  .timers-container {
    width: 98vw;
    min-height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .controlles {
    background-color: $light-grey;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    position: fixed;
    padding: 5px;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    border: 0.1px solid $dark-grey;
    box-shadow: 3px 3px 5px 1px rgb(182, 181, 181) ;
  }

  .timers-page-icon {
    padding: 0 10px;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    &:hover{
      background-color: $dark-grey;
    }
  }
}
